/*----------------Footer---------------------------*/

.footer{
  display: flex;
  background-color: rgb(231, 20, 187);
  width:100%;
align-content: center;

flex-direction: column;

}
h1{
  text-align: center;
  font-size: 1em;

}
#image1,#image2{
  max-width: 100px;
  max-height: 50px;

}
#image{
  display: flex;
  justify-content: space-between;
}
